
.error-text{
	color:#d0021b;
}
.dg-container{
	margin-top: 20px;
}
.dg-login-form{
	max-width:320px;
	margin:50px auto;
	height:380px;
}
.dg-question-form{
	max-width:320px;
	margin: 0 auto
}
.dg-login-btn,.dg-register-btn,.dg-question-sub-btn{
	margin-top: 30px
}
.dg-reglink{
	margin-top: 20px;
}


/*Nav Bar Styles*/
.navbar ul{
	float:none;
}
.navbar ul>li{
	float:left !important;
	width: 33% !important;
	background: #fff
}
.navbar ul>li a{
	text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #fff;
	border-bottom: 1px solid #000099
}


/*Main Sections*/
.main-section{
	padding: 10px 20px;
	margin: 0 auto;
	max-width: 800px;
}
.ques-block{
	border-bottom:1px solid #000;
}
.question-head{
	font-weight:bold;
	font-style: italic;
	text-decoration: underline;
	font-size: 20px;
}

textarea{
	display: inline-block;
	margin-top: 20px;
}