<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrapv3.3.6.css" >
		<link rel="stylesheet" href="css/styles.css" >
	</head>	
	<body ng-app="loginApp" ng-controller="loginCtrl">
		<div class="container-fluid dg-container">
		  	<h1 class="text-center">DigiGyan App</h1>
		  	<div class="well dg-login-form">
			  	<form>
					<h3>Login</h3>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="login.username">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="login.password">
					</div>
					<p class="error-text" ng-show="showmsg">Please fill in valid username and password</p>
					<button type="submit" class="btn btn-primary center-block dg-login-btn" ng-click="login(login.username,login.password)">Login</button>
					<a href="./pages/reg-screen.html" class="center-block text-center dg-reglink">Register Here</a>
				</form>
			</div>
		</div>
	</body>
	<script src="js/angular.js"></script>
	<script src="js/loginpage.js"></script>
</html>